header {
  height: 500px;
  .top-nav {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 70px;
    }
  }
  nav {
    background: $color2;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      background: $color1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      margin: 20px;
      color: $white;
      font-size: 1.25rem;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      &:hover {
        background: rgb(181, 94, 19);
      }
    }
    .hamburger {
      margin: 20px;
      font-size: 1.5rem;
      color: $color1;
    }
  }
  .header-center {
    background: url("../../images/background.jpg") center/cover;
    height: 400px;
    position: relative;
    .h1-box {
      height: 320px;
      background: $transparent;
      display: grid;
      grid-template-rows: 40% 60%;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      h1 {
        margin: auto;
        color: $white;
        text-align: center;
        font-family: "fontTitle", serif;
        text-transform: uppercase;
        line-height: 24px;
        font-size: 1.2rem;
        font-weight: 700;
      }
      p {
        font-weight: 500;
        font-size: 1rem;
        width: 90%;
        color: $color1;
        text-align: center;
        margin: auto;
      }
    }
  }
}
