.section2 {
  width: 100%;

  h2 {
    text-align: center;
    text-transform: uppercase;
  }
  h3 {
    text-align: center;
    margin: 10px 30px;
    height: 50px;
    text-transform: uppercase;
  }

  .prestations {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width: 950px) {
      display: block;
    }

    .prestation {
      padding: 15px;
    }

    .img-prestation {
      width: 80%;
      margin: 20px auto;
      height: 280px;
      border-radius: 30px;
    }
    .img-elagage {
      background: url(../images/Elagage.jpg) center/cover;
    }
    .img-abbatage {
      background: url(../images/Abattage.jpg) center/cover;
    }
    .img-entretien {
      background: url(../images/Entretien.jpg) center/cover;
    }
    .prestation-text {
      margin: 20px;
      h4 {
        margin-bottom: 12px;
        font-size: 1.2rem;
      }
      p {
        line-height: 25px;
      }
    }
  }
}
