* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Medium.ttf);
}

$color1: rgb(33, 92, 41);
$color2: rgb(155, 199, 67);
$color3: rgb(248, 245, 62);
$white: rgb(250, 253, 243);
$black: rgb(18, 18, 18);
$transparent: rgba(0, 0, 0, 0.297);

body {
  background-color: $white;
  color: $black;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

a {
  transition: 0.5s ease-in-out;
}

a:hover {
  transform: scale(1.1);
}

.btn2 {
  color: $color3;
  background-color: $transparent;
  border: $color3 2px solid;
  margin: 5px auto;
  padding: 8px 15px;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 600;
}
.btn1 {
  color: $color1;
  border: $color1 2px solid;
  margin: 5px auto;
  padding: 8px 15px;
  // border: solid $color1 2px;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 600;
}
