* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "fontTitle";
  src: url("./fonts/Arvo-Bold.ttf");
}
@font-face {
  font-family: "fontItalic";
  src: url("./fonts/Karla-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "font1";
  src: url("./fonts/Karla-VariableFont_wght.ttf");
}

$color1: rgb(245, 127, 23);
$color2: rgb(84, 110, 122);
$color3: rgb(230, 230, 230);
$white: rgb(255, 255, 245);
$black: rgb(18, 18, 18);
$transparent: rgba(0, 0, 0, 0.7);

body {
  width: 100vw;
  background-color: $white;
  color: $black;
  font-family: "font1", sans-serif;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a {
  transition: 0.5s ease-in-out;
}
