* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "fontTitle";
  src: url("./fonts/Arvo-Bold.ttf");
}
@font-face {
  font-family: "fontItalic";
  src: url("./fonts/Karla-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "font1";
  src: url("./fonts/Karla-VariableFont_wght.ttf");
}
body {
  background-color: rgb(255, 255, 245);
  color: rgb(18, 18, 18);
  font-family: "font1", sans-serif;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

a {
  transition: 0.5s ease-in-out;
}

header {
  height: 500px;
}
header .top-nav {
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .top-nav img {
  height: 70px;
}
header nav {
  background: rgb(84, 110, 122);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  background: rgb(245, 127, 23);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  color: rgb(255, 255, 245);
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
header nav a:hover {
  background: rgb(181, 94, 19);
}
header nav .hamburger {
  margin: 20px;
  font-size: 1.5rem;
  color: rgb(245, 127, 23);
}
header .header-center {
  background: url("../../images/background.jpg") center/cover;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .header-center .h1-box {
  height: 70%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.461);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .header-center .h1-box h1 {
  padding: 10px;
  height: 80%;
  color: rgb(255, 255, 245);
  text-align: center;
  font-family: "fontTitle", serif;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 1.2rem;
  font-weight: 700;
}
header .header-center .h1-box p {
  width: 95%;
  color: rgb(245, 127, 23);
  height: 20%;
  text-align: center;
  margin-bottom: 10px;
}

.section1 {
  background: rgb(255, 255, 245);
}
.section1 .title-service {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.section1 .title-service h2 {
  font-family: "fontTitle", serif;
}
.section1 .cards {
  width: 90%;
  margin: auto;
}
.section1 .cards .card {
  height: 400px;
  margin-bottom: 20px;
}
.section1 .cards .card .top-card {
  background: rgb(230, 230, 230);
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section1 .cards .card .top-card h3 {
  font-family: "fontTitle", serif;
  color: rgb(245, 127, 23);
  text-transform: uppercase;
  font-size: 1.5rem;
}
.section1 .cards .card .center-card {
  height: 70%;
  background: url("../../images/background.jpg") center/cover;
}
.section1 .cards .card .bottom-card {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(84, 110, 122);
}
.section1 .cards .card .bottom-card a {
  color: rgb(255, 255, 245);
  text-transform: uppercase;
  font-weight: 600;
}

.section0 {
  display: none;
}/*# sourceMappingURL=style.css.map */