* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

$color1: rgb(33, 92, 41);
$color2: rgb(155, 199, 67);
$color3: rgb(248, 245, 62);
$white: rgb(242, 252, 236);
$black: rgb(18, 18, 18);
$transparent: rgba(0, 0, 0, 0.297);

header {
  height: 100vh;
  background: url(../images/background-big.jpg) center/cover fixed;

  nav {
    height: 55px;
    background: $transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #nav-logo {
      height: 50px;
      padding-left: 12px;
    }
    a {
      width: 50px;
    }
    i {
      padding-right: 12px;
      font-size: 2rem;
      color: $color2;
    }
  }
  .contact {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: $transparent;
    width: 100%;

    .btn2 {
      color: $color1;
      background-color: $color3;
      margin: 5px;
      padding: 5px 10px;
      border: solid $color1 2px;
      border-radius: 8px;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8rem;
      text-align: center;
    }
  }
  .header-center {
    display: flex;
    height: 100%;
    flex-direction: column;

    #logo-header {
      margin: 5px auto;
      height: 40%;
    }
    h1 {
      font-size: 1.2rem;
      color: $color3;
      text-align: Center;
      text-transform: uppercase;
      padding: 10px;
      margin: 0 10px;
      background: $transparent;
      border-radius: 20px;
    }
    #link-header {
      position: absolute;
      transform: translateX(-50%);
      top: 12px;
      left: 50%;
      background-color: $color3;
      color: $color1;
      border-radius: 8px;
      padding: 7px 14px;
      font-size: 0.9rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      box-shadow: (12px 12px 12px rgba(0, 0, 0, 0.297));
    }
  }
}
